<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shayley.s</mat-card-title>
      <mat-card-subtitle>Sponsored</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://tiogatours.nl/dynamic/img/amerika/california/los-angeles-downtown-2.6.b958.jpg" alt="Photo of a Shiba Inu" width="500" height="500">
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon>chat_bubble_outline</mat-icon>
      <mat-icon>share</mat-icon>
    </mat-card-actions>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum cursus erat, malesuada pulvinar nisl condimentum in.
        Mauris et auctor risus. Pellentesque id posuere ligula, non aliquam massa
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shayley.s</mat-card-title>
      <mat-card-subtitle>Sponsored</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://tiogatours.nl/dynamic/img/amerika/california/los-angeles-downtown-2.6.b958.jpg" alt="Photo of a Shiba Inu" width="500" height="500">
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon>chat_bubble_outline</mat-icon>
      <mat-icon>share</mat-icon>
    </mat-card-actions>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum cursus erat, malesuada pulvinar nisl condimentum in.
        Mauris et auctor risus. Pellentesque id posuere ligula, non aliquam massa
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shayley.s</mat-card-title>
      <mat-card-subtitle>Sponsored</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://tiogatours.nl/dynamic/img/amerika/california/los-angeles-downtown-2.6.b958.jpg" alt="Photo of a Shiba Inu" width="500" height="500">
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon>chat_bubble_outline</mat-icon>
      <mat-icon>share</mat-icon>
    </mat-card-actions>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum cursus erat, malesuada pulvinar nisl condimentum in.
        Mauris et auctor risus. Pellentesque id posuere ligula, non aliquam massa
      </p>
    </mat-card-content>
  </mat-card>
</div>
